<link rel="stylesheet" href="/css/chatStyle.css">


<div>
  <h1>CHAT con websocket!!</h1>
  <input type="text" id="chatbox">
  <p id="messageLogs"></p>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>