<link rel="stylesheet" href="/css/chatsStyle.css">


<div class="container">
  <h1 class="mt-5">CHAT con websocket!!</h1>
  <input class="mt-5" type="text" id="chatbox">
  <p class="mt-5" id="messageLogs"></p>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>